altgraph==0.17.5
auto-py-to-exe==2.50.1
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
customtkinter==6.0.0
darkdetect==0.8.0
duckdb==1.5.5
Eel==0.18.2
future==1.0.0
gevent==26.7.0
gevent-websocket==0.10.1
greenlet==3.5.4
idna==3.18
importlib_resources==7.1.0
lxml==6.1.1
numpy==2.5.3
packaging==26.2
pandas==3.0.5
pefile==2024.8.26
pillow==12.3.0
polars==1.44.2
polars-runtime-32==1.44.2
pyarrow==25.0.1
pycparser==3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
pywin32-ctypes==0.2.3
requests==2.34.2
setuptools==83.0.0
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.7.0
zope.event==6.2
zope.interface==8.5
